<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="detailorderMapper">
	
	
	<resultMap id="dorderResultSet" type="detailorder">
		<result column="DORDER_NO" property="dorderNo" /><!-- 상세 주문 번호 -->
		<result column="ORDER_NO" property="orderNo" /><!-- 주문 번호 -->
		<result column="PRODUCT_NO" property="productNo" /><!-- 상품 번호 -->
		<result column="ONE_PRICE" property="onePrice" /><!-- 상품 하나 가격 -->
		<result column="ONE_QUANTITY" property="oneQuantity" /><!-- 상품 하나 수량 -->
	</resultMap>
	
	
	<!-- 조회 -->
	<select id="selectdetailOrderList" resultMap="dorderResultSet">
		
	</select>


</mapper>
