<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="onedayclassadminMapper">
		<resultMap id="onedayclassadminResultSet" type="onedayclassadmin">
		<result column="RES_NO" property="resNo" />
		<result column="CLASS_NO" property="classNo" />
		<result column="RES_NAME" property="resName" />
		<result column="RES_PHONE" property="resPhone" />
		<result column="RES_EMAIL" property="resEmail" />
		<result column="PAY_DATE" property="payDate" />
	</resultMap>
	
	  	<insert id="insertClassRes" parameterType="onedayclassadmin">
  		INSERT INTO CLASS_ADMIN(RES_NO
		                , RES_NAME
		                , RES_PHONE
		                , RES_EMAIL)
		VALUES(SEQ_RESNO.NEXTVAL
		     , #{userName}
		     , #{phone}
		     , #{email})
  	</insert>
	

</mapper>
