<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">


	<resultMap id="orderResultSet" type="order">
		<result column="ORDER_NO" property="orderNo"/><!-- 주문번호 -->
		<result column="USER_NO" property="userNo"/><!-- 회원번호 -->
		<result column="TOTAL_PRICE" property="totalPrice"/><!-- 총결제금액 -->
		<result column="ORDER_DATE" property="orderDate"/><!-- 주문일 -->
		<result column="RECEIVE_DATE" property="receiveDate"/><!-- 수령일 -->
		<result column="RECEIVE_USER" property="receiveUser"/><!-- 수령자 -->
		<result column="RECEIVE_PHONE" property="receivePhone"/><!-- 수령자 전화번호 -->
		<result column="ORDER_ADDRESS" property="orderAddress"/><!-- 배송지 -->
		<result column="POSTCODE" property="postcode"/><!-- 우편번호 -->
		<result column="ORDER_STATUS" property="orderStatus"/><!-- 주문상태 -->
		<result column="DELIVERY_STATUS" property="deliveryStatus"/><!-- 배송상태 -->
		<result column="RECEIPT_ID" property="receiptId"/><!-- 결제번호 -->
		
		<result column="FLOWER_NAME" property="flowerName" /><!-- 상품 제목 -->
		<result column="THUMBNAIL" property="thumbnail" /><!-- 썸네일 -->
	</resultMap>
	
	<!--
	<select id="selectOrderListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ORDER_TBL
		WHERE ORDER_STATUS = 'Y'
	</select>
	-->
	
	<!--
	<select id="selectOrderList" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, PRICE, 
		       TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE",
		       TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", ORDER_STATUS
		FROM ORDER_TBL
		WHERE ORDER_STATUS = 'Y'
		ORDER BY ORDER_DATE DESC, ORDER_NO DESC
	</select>
	-->
	
	<!-- 상품이 담겨져있는 장바구니 조회용 -->
  	<select id="selectCart" resultMap="cartResultSet">
  		SELECT CART_NO, USER_NO, PRODUCT_NO, FLOWER_NAME, PRODUCT_PRICE, PRODUCT_COUNT, THUMBNAIL
  		FROM CART
		JOIN PRODUCT USING (PRODUCT_NO)
		WHERE USER_NO = #{userNo}
  	</select>
	
	<!-- 조회 -->
	<select id="detailOrder" resultMap="orderResultSet">
	<!--  -->
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, PRICE, 
		       TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE",
		       TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", ORDER_STATUS
		FROM ORDER_TBL
		WHERE ORDER_STATUS = 'Y'
		ORDER BY ORDER_DATE DESC, ORDER_NO DESC
	</select>
	
	<!-- 추가 -->
	<insert id="insertOrder" parameterType="Order">
  		INSERT INTO ORDER_TBL(ORDER_NO
		                    , USER_NO
		                    , TOTAL_PRICE
		                    , ORDER_DATE
		                    , RECEIVE_DATE
		                    , RECEIVE_USER
		                    , RECEIVE_PHONE
		                    , ORDER_ADDRESS
		                    , POSTCODE
		                    , ORDER_STATUS
		                    , DELIVERY_STATUS
		                    , RECEIPT_ID)
		VALUES(SEQ_PNO.NEXTVAL
		     , #{userNo}
		     , #{totalPrice}
		     , #{orderDate}
		     , #{receiveDate}
   		     , #{receiveUser}
		     , #{receivePhone}
   		     , #{orderAddress}
		     , #{postcode}
		     , #{orderStatus}
		     , #{deliveryStatus}
		     , #{receiptId)
  	</insert>


</mapper>
