<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap id="orderResultSet" type="order">
		<result column="ORDER_NO" property="orderNo"/><!-- 주문번호 -->
		<result column="USER_NO" property="userNo"/><!-- 회원번호 -->
		<result column="TOTAL_PRICE" property="totalPrice"/><!-- 총결제금액 -->
		<result column="ORDER_DATE" property="orderDate"/><!-- 주문일 -->
		<result column="RECEIVE_DATE" property="receiveDate"/><!-- 수령일 -->
		<result column="RECEIVE_USER" property="receiveUser"/><!-- 수령자 -->
		<result column="RECEIVE_PHONE" property="receivePhone"/><!-- 수령자 전화번호 -->
		<result column="ORDER_ADDRESS" property="orderAddress"/><!-- 배송지 -->
		<result column="POSTCODE" property="postcode"/><!-- 우편번호 -->
		<result column="ORDER_STATUS" property="orderStatus"/><!-- 주문상태 -->
		<result column="DELIVERY_STATUS" property="deliveryStatus"/><!-- 배송상태 -->
		<result column="RECEIPT_ID" property="receiptId"/><!-- 결제번호 -->
		<result column="THUMBNAIL" property="thumbnail"/> <!-- 대표사진 -->
	</resultMap>
	
	
	<resultMap id="detailOrderResultSet" type="detailOrder">
		<result column="DORDER_NO" property="dorderNo"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="ONE_PRICE" property="onePrice"/>
		<result column="ONE_QUANTITY" property="oneQuantity"/>
		<result column="FLOWER_NAME" property="flowerName"/>
		<result column="THUMBNAIL" property="thumbnail"/>
	</resultMap>


  	<insert id="insertOrder" parameterType="order">
  		INSERT INTO ORDER_TBL (ORDER_NO
  							 , USER_NO
  							 , TOTAL_PRICE
  							 , RECEIVE_DATE
  							 , RECEIVE_USER
  							 , RECEIVE_PHONE
  							 , ORDER_ADDRESS
  							 , POSTCODE
  							 , ORDER_STATUS
  							 , DELIVERY_STATUS
  							 , RECEIPT_ID
  							 , THUMBNAIL)
  		VALUES(SEQ_ORDNO.NEXTVAL
		     , #{userNo}
		     , #{totalPrice}
		     , #{receiveDate}
		     , #{receiveUser}
		     , #{receivePhone}
		     , #{orderAddress}
		     , #{postcode}
		     , #{orderStatus}
		     , #{deliveryStatus}
		     , #{receiptId}
		     , #{thumbnail}
		     )
  	</insert>
  	
  	
  	<insert id="insertDetailOrder" parameterType="detailOrder">
  		INSERT INTO DETAIL_ORDER(DORDER_NO, ORDER_NO, PRODUCT_NO, ONE_PRICE, ONE_QUANTITY)
  		VALUES(SEQ_DORNO.NEXTVAL,
  			   #{orderNo},
  			   #{productNo},
  			   #{onePrice},
  			   #{oneQuantity}
  			   )
  	</insert>
  	
  	
  	<select id="selectOrder" parameterType="string" resultMap="orderResultSet">
  		SELECT *
  		FROM ORDER_TBL
  		WHERE RECEIPT_ID = '${receiptId}'
   	</select>
	
	
	<select id="selectMyOrderList" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
		WHERE USER_NO = #{userNo}
		  AND ORDER_STATUS = '결제완료'
		  AND DELIVERY_STATUS IN ('배송준비', '배송중', '배송완료')
		  ORDER BY ORDER_NO DESC
	</select>
	
	
	<select id="selectMyOrderCancelList" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
		WHERE USER_NO = #{userNo}
		  AND ORDER_STATUS = '결제취소'
		  AND DELIVERY_STATUS NOT IN ('배송준비', '배송중', '배송완료')
		  ORDER BY ORDER_NO DESC
	</select>
	
	
	<update id="cancelMyPay" parameterType="string">
		UPDATE ORDER_TBL
		   SET ORDER_STATUS = '결제취소',
		   	   DELIVERY_STATUS = '결제취소'
		 WHERE RECEIPT_ID = '${receiptId}'
	</update>
	
	
	<select id="selectMyDetailOrderList" parameterType="_int" resultMap="detailOrderResultSet">
		SELECT DORDER_NO, ORDER_NO, DO.PRODUCT_NO, ONE_PRICE, ONE_QUANTITY, FLOWER_NAME, THUMBNAIL
		  FROM DETAIL_ORDER DO
		  JOIN PRODUCT P ON (DO.PRODUCT_NO = P.PRODUCT_NO)
		WHERE ORDER_NO = #{orderNo}
	</select>
	
	
	<select id="selectMyOneOrder" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
		WHERE ORDER_NO = #{orderNo}
	</select>


	<select id="countReady" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		  FROM ORDER_TBL
		 WHERE USER_NO = #{userNo}
		   AND DELIVERY_STATUS = '배송준비'
		   <!--[CDATA[
		   AND ADD_MONTHS(SYSDATE, -1) <= ORDER_DATE
		   ]]-->
		   
	</select>


	<select id="countShipping" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		  FROM ORDER_TBL
		 WHERE USER_NO = #{userNo}
		   AND DELIVERY_STATUS = '배송중'
		   <!--[CDATA[ 
		   AND ADD_MONTHS(SYSDATE, -1) <= ORDER_DATE
		   ]]-->
	</select>


	<select id="countComplete" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		  FROM ORDER_TBL
		 WHERE USER_NO = #{userNo}
		   AND DELIVERY_STATUS = '배송완료'
		   <!--[CDATA[
		   AND ADD_MONTHS(SYSDATE, -1) <= ORDER_DATE
		   ]]-->
	</select>
	
	
	<select id="selectMyOrderAllList" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
		WHERE USER_NO = #{userNo}
		<!--[CDATA[
	    AND ADD_MONTHS(SYSDATE, -1) <= ORDER_DATE
	    ]]-->
	    ORDER BY ORDER_NO DESC
	</select>
	
	
	<!-- (자동) 배송상태 변경하기 -->
  	<update id="updateDeliveryStatus">
  		UPDATE ORDER_TBL
		SET DELIVERY_STATUS = 
		    CASE 
		    <![CDATA[
		        WHEN TO_DATE(RECEIVE_DATE, 'YYYY-MM-DD') - TO_DATE(SYSDATE, 'YYYY-MM-DD') <= 0 THEN '배송완료'
		        WHEN TO_DATE(RECEIVE_DATE, 'YYYY-MM-DD') - TO_DATE(SYSDATE, 'YYYY-MM-DD') <= 1 THEN '배송중'
		        ELSE '배송준비'
		    ]]>
		    END
		WHERE NOT DELIVERY_STATUS IN('결제취소')
  	</update> 


	<!--  지승아 리뷰 오더 검사-->
	<select id="selectOrderReview" parameterType="review" resultMap="orderResultSet">
		SELECT *
		FROM ORDER_TBL
		JOIN DETAIL_ORDER USING (ORDER_NO)
		JOIN MEMBER USING(USER_NO)
		WHERE PRODUCT_NO = #{productNo}
		AND USER_NO = #{userNo}
	</select>
	
	
	<!-- 관리자 - 개별주문내역 조회용 메소드 (상세보기) -->
	<select id="adminSelectDetail" parameterType="_int" resultMap="detailOrderResultSet">
		SELECT DORDER_NO, ORDER_NO, DO.PRODUCT_NO, ONE_PRICE, ONE_QUANTITY, FLOWER_NAME, THUMBNAIL
		  FROM DETAIL_ORDER DO
		  JOIN PRODUCT P ON (DO.PRODUCT_NO = P.PRODUCT_NO)
		WHERE ORDER_NO = #{orderNo}
	</select>
	
	
	<!-- 관리자 - 개별주문내역 조회용 메소드 (주문한개) -->
	<select id="selectOneOrder" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
		WHERE ORDER_NO = #{orderNo}
	</select>
	
	
	<select id="selectOrderListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ORDER_TBL
	</select>
	

	<!-- 관리자 - 전체주문내역 조회용 메소드 + 페이징처리 -->
	<select id="adminSelectList" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
	</select>
	
	  	 
	<!-- 관리자 - 전체주문내역 조회용 메소드 -->
	<!--  
	<select id="adminSelectList" resultMap="orderResultSet">
		SELECT ORDER_NO, USER_NO, TOTAL_PRICE, TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE", TO_CHAR(RECEIVE_DATE, 'YYYY-MM-DD') "RECEIVE_DATE", RECEIVE_USER, RECEIVE_PHONE, ORDER_ADDRESS
  			 , POSTCODE, ORDER_STATUS, DELIVERY_STATUS, RECEIPT_ID, THUMBNAIL
		FROM ORDER_TBL
		WHERE ORDER_STATUS = 'Y'
		ORDER BY ORDER_DATE DESC, ORDER_NO DESC
	</select>
	-->

	<!-- 
  	<select id="selectCart" resultMap="cartResultSet">
  		SELECT CART_NO, USER_NO, PRODUCT_NO, FLOWER_NAME, PRODUCT_PRICE, PRODUCT_COUNT, THUMBNAIL
  		FROM CART
		JOIN PRODUCT USING (PRODUCT_NO)
		WHERE USER_NO = #{userNo}
  	</select>
  	 -->

</mapper>
