<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">


	<resultMap id="productResultSet" type="product">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="CATEGORY_NAME" property="categoryName" />
		<result column="FLOWER_NAME" property="flowerName" />
		<result column="PRICE" property="price" />
		<result column="SALES_AMOUNT" property="salesAmount" />
		<result column="THUMBNAIL" property="thumbNail" />
		<result column="CONTENT_PHOTO" property="contentPhoto" />
		<result column="FLOWER_INFO" property="flowerInfo" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="TAG" property="tag" />
		<result column="STATUS" property="status" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		PRODUCT
		WHERE STATUS = 'Y'
	</select>
	
	<select id="selectList" resultMap="productResultSet">
		SELECT PRODUCT_NO, CATEGORY_NAME, FLOWER_NAME, PRICE, THUMBNAIL,
		TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE", TAG,STATUS
		FROM
		PRODUCT
		 WHERE STATUS = 'Y'
		ORDER BY ENROLL_DATE DESC, PRODUCT_NO DESC
	</select>

	<!-- 꽃다발 리스트 -->
 	<select id="selectflowerList" resultMap="productResultSet">
		SELECT PRODUCT_NO, CATEGORY_NAME, FLOWER_NAME, PRICE, THUMBNAIL,
		TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE", TAG,STATUS
		FROM
		PRODUCT
		 WHERE STATUS = 'Y'
		 AND CATEGORY_NAME ='꽃다발'
		ORDER BY ENROLL_DATE DESC, PRODUCT_NO DESC
	</select>
	
	<!-- 꽃병 리스트 -->
	<select id="selectListBase" resultMap="productResultSet">
		SELECT PRODUCT_NO, CATEGORY_NAME, FLOWER_NAME, PRICE, THUMBNAIL,
		TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE", TAG,STATUS
		FROM
		PRODUCT
		 WHERE STATUS = 'Y'
		 AND CATEGORY_NAME ='꽃병'
		ORDER BY ENROLL_DATE DESC, PRODUCT_NO DESC
	</select>


	<!-- 상품 추가 -->
	<insert id="insertProduct" parameterType="Product">
		INSERT INTO PRODUCT(PRODUCT_NO
		, CATEGORY_NAME
		, FLOWER_NAME
		, PRICE
		, SALES_AMOUNT
		, THUMBNAIL
		, CONTENT_PHOTO
		, FLOWER_INFO
		, TAG)
		VALUES(SEQ_PNO.NEXTVAL
		, #{categoryName}
		, #{flowerName}
		, #{price}
		, #{salesAmount}
		, #{thumbNail}
		, #{contentPhoto}
		, #{flowerInfo}
		, #{tag})
	</insert>

	<!-- 상품 상세보기(admin)-->
	<select id="selectProduct" parameterType="_int"
		resultMap="productResultSet">
		SELECT PRODUCT_NO,
		CATEGORY_NAME,FLOWER_NAME,THUMBNAIL,CONTENT_PHOTO,FLOWER_INFO,PRICE,TAG
		FROM PRODUCT
		WHERE PRODUCT_NO = #{productNo}
	</select>

	<!-- 상품 삭제 -->
	<update id="deleteProduct" parameterType="_int">
		UPDATE PRODUCT
		SET STATUS ='N'
		WHERE PRODUCT_NO = #{productNo}
	</update>

	<!-- 상품 수정 -->
	<update id="updateProduct" parameterType="product">
		UPDATE PRODUCT
		SET CATEGORY_NAME = #{categoryName}
			, FLOWER_NAME = #{flowerName}
			, THUMBNAIL = #{thumbNail}
			, CONTENT_PHOTO = #{contentPhoto}
			, FLOWER_INFO = #{flowerInfo}
			, PRICE = #{price}
			, TAG = #{tag}
		WHERE PRODUCT_NO = #{productNo}
	</update>

	<!--상품 상세보기(꽃다발/꽃대)-->
	<select id="selectflowerProduct" parameterType="_int" resultMap="productResultSet">
		SELECT PRODUCT_NO,
		CATEGORY_NAME,FLOWER_NAME,THUMBNAIL,CONTENT_PHOTO,FLOWER_INFO,PRICE, TAG
		FROM PRODUCT
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 상품 상세보기(조합형)-->
	<select id="selectDetailList" resultMap="productResultSet">
		SELECT PRODUCT_NO,
		CATEGORY_NAME,FLOWER_NAME,THUMBNAIL,FLOWER_INFO,PRICE
		FROM PRODUCT
		WHERE CATEGORY_NAME = '조합형'
	</select>
</mapper>
