<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="subscribeMapper">
	<resultMap id="subProductResultSet" type="subProduct">
		<result column="SUBPRODUCT_NO" property="subProductNo" />
		<result column="SUBPRODUCT_NAME" property="subProductName" />
		<result column="SUB_PRICE" property="subPrice" />
		<result column="SUBPRODUCT_DESCRIPTION" property="subProductDescription" />
		<result column="SUBORIGIN_NAME" property="subOriginName" />
		<result column="SUBCHANGE_NAME" property="subChangeName" />
	</resultMap>
	
	<resultMap id="subscribeResultSet" type="subscribe">
		<result column="SUBSCRIBE_NO" property="subscribeNo" />
		<result column="SUBPRODUCT_NO" property="subProductNo" />
		<result column="USER_NO" property="userNo" />
		<result column="SUB_LEVEL" property="subLevel" />
		<result column="SUB_RECEIVER_USER" property="subReceiverUser" />
		<result column="SUB_RECEIVER_PHONE" property="subReceiverPhone" />
		<result column="SUB_RECEIVER_POSTCODE" property="subReceiverPostcode"/>
		<result column="DELIVER_AT" property="deliverAt" />
		<result column="DELIVER_TO" property="deliverTo" />
		<result column="DELIVER_STATUS" property="deliverStatus" />
		<result column="RECEIPT_ID" property="receiptId" />
		<result column="SUB_DATE" property="subDate" />
		<result column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName"/>
		<result column="GR_LEVEL" property="grLevel"/>
		<result column="SUBPRODUCT_NAME" property="subProductName"/>
		<result column="SUB_PRICE" property="subPrice"/>
		<result column="COUNT" property="count"/>
		<result column="SUBCHANGE_NAME" property="subChangeName" />
	</resultMap>

	<select id="selectSubProductList" resultMap="subProductResultSet">
  		SELECT SUBPRODUCT_NO, SUBPRODUCT_NAME, SUB_PRICE, SUBPRODUCT_DESCRIPTION, SUBORIGIN_NAME, SUBCHANGE_NAME 
		FROM SUB_PRODUCT
  	</select>
  	
  	<insert id="insertSubProduct" parameterType="subProduct">
  		INSERT INTO SUB_PRODUCT(SUBPRODUCT_NO
		                , SUBPRODUCT_NAME
		                , SUB_PRICE
		                , SUBPRODUCT_DESCRIPTION
		                , SUBORIGIN_NAME
		                , SUBCHANGE_NAME)
		VALUES(SEQ_SPNO.NEXTVAL
		     , #{subProductName}
		     , #{subPrice}
		     , #{subProductDescription}
		     , #{subOriginName}
		     , #{subChangeName})
  	</insert>
  	
  	<select id="selectSubProduct" resultMap="subProductResultSet">
  		SELECT *
  		FROM SUB_PRODUCT
  		WHERE SUBPRODUCT_NO = #{ subProductNo }
  	</select>
  	
  	<delete id="deleteSubProduct" parameterType="int">
  		DELETE
  		FROM SUB_PRODUCT
  		WHERE SUBPRODUCT_NO = #{ subProductNo }
  	</delete>
  	
  	<update id="updateSubProduct" parameterType="subProduct">
  		UPDATE SUB_PRODUCT
  		   SET SUBPRODUCT_NAME = #{ subProductName },
  		   	   SUBPRODUCT_DESCRIPTION = #{ subProductDescription },
  		   	   SUB_PRICE = #{ subPrice }
  		 WHERE SUBPRODUCT_NO = #{ subProductNo }
  	</update>
  	
  	<insert id="insertSubscribe" parameterType="subscribe">
  		INSERT INTO SUBSCRIBE(SUBSCRIBE_NO
		                , SUBPRODUCT_NO
		                , USER_NO
		                , SUB_LEVEL
		                , SUB_RECEIVER_USER
		                , SUB_RECEIVER_PHONE
		                , SUB_RECEIVER_POSTCODE
		                , DELIVER_AT
		                , DELIVER_TO
		                , DELIVER_STATUS
		                , RECEIPT_ID)
		VALUES(SEQ_SNO.NEXTVAL
		     , #{subProductNo}
		     , #{userNo}
		     , #{subLevel}
		     , #{subReceiverUser}
		     , #{subReceiverPhone}
		     , #{subReceiverPostcode}
		     , #{deliverAt}
		     , #{deliverTo}
		     , #{deliverStatus}
		     , #{receiptId})
  	</insert>
  	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM SUBSCRIBE
	</select>
  	
  	<select id="selectSubMemberList" resultMap="subscribeResultSet">
  		SELECT SUBSCRIBE_NO, M.USER_ID, M.USER_NAME, SP.SUBPRODUCT_NAME, DELIVER_TO, TO_CHAR(SUB_DATE,'YYYY-MM-DD') "SUB_DATE", SUB_LEVEL, M.GR_LEVEL, SP.SUB_PRICE, DELIVER_STATUS
		FROM SUBSCRIBE S, MEMBER M, SUB_PRODUCT SP
        WHERE S.USER_NO = M.USER_NO(+)
          AND S.SUBPRODUCT_NO = SP.SUBPRODUCT_NO
  	</select>
  	
  	<select id="selectSearchCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM SUBSCRIBE S, MEMBER M, SUB_PRODUCT SP
        WHERE S.USER_NO = M.USER_NO(+)
          AND S.SUBPRODUCT_NO = SP.SUBPRODUCT_NO
		  AND ${condition} LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" parameterType="hashmap" resultMap="subscribeResultSet">
		SELECT SUBSCRIBE_NO, M.USER_ID, M.USER_NAME, SP.SUBPRODUCT_NAME, DELIVER_TO, TO_CHAR(SUB_DATE,'YYYY-MM-DD') "SUB_DATE", SUB_LEVEL, M.GR_LEVEL, SP.SUB_PRICE, DELIVER_STATUS
		FROM SUBSCRIBE S, MEMBER M, SUB_PRODUCT SP
        WHERE S.USER_NO = M.USER_NO(+)
          AND S.SUBPRODUCT_NO = SP.SUBPRODUCT_NO
		  AND ${condition} LIKE '%' || #{keyword} || '%'
	</select>
  	
  	<select id="cancelMySubList" parameterType="string">
		UPDATE SUBSCRIBE
		   SET DELIVER_STATUS = '결제취소'
		 WHERE RECEIPT_ID = #{receiptId}
		   AND DELIVER_STATUS = '배송준비'
  	</select>
  	
  	<update id="updateDeliverStatus">
  		UPDATE SUBSCRIBE
		SET DELIVER_STATUS = 
		    CASE 
		    <![CDATA[
		        WHEN TO_DATE(DELIVER_AT, 'YYYY-MM-DD') - TO_DATE(SYSDATE, 'YYYY-MM-DD') <= 0 THEN '배송완료'
		        WHEN TO_DATE(DELIVER_AT, 'YYYY-MM-DD') - TO_DATE(SYSDATE, 'YYYY-MM-DD') <= 1 THEN '배송중'
		        ELSE '배송준비'
		    ]]>
		    END
		WHERE NOT DELIVER_STATUS IN('결제취소')
  	</update>
  	
  	<select id="countMySubReceiptId" parameterType="_int" resultType="_int">
  		SELECT COUNT(DISTINCT RECEIPT_ID)
  		FROM SUBSCRIBE
  		WHERE USER_NO = #{userNo}
  	</select>
  	
  	<select id="selectMySubReceiptId" parameterType="_int" resultType="map">
  		SELECT DISTINCT RECEIPT_ID
  		FROM SUBSCRIBE
  		WHERE USER_NO = #{userNo}
  		AND NOT DELIVER_STATUS IN('결제취소')
  	</select>
  	
  	
  	<select id="selectMySubscribe" parameterType="string" resultMap="subscribeResultSet">
  		SELECT SUBSCRIBE_NO, SP.SUBPRODUCT_NAME, TO_CHAR(SUB_DATE,'YYYY-MM-DD') "SUB_DATE", 
			   SUB_LEVEL, SUB_RECEIVER_USER, SUB_RECEIVER_PHONE, DELIVER_AT, DELIVER_AT, DELIVER_TO, SUB_RECEIVER_POSTCODE,
			   RECEIPT_ID, SP.SUB_PRICE, DELIVER_STATUS, SUBPRODUCT_NAME, SUBCHANGE_NAME
		  FROM SUBSCRIBE S, SUB_PRODUCT SP
		 WHERE RECEIPT_ID = #{receiptId}
		   AND S.SUBPRODUCT_NO = SP.SUBPRODUCT_NO
		   AND DELIVER_STATUS IN ('배송준비', '배송중', '배송완료')
		ORDER BY S.SUBSCRIBE_NO ASC
  	</select>
  	
</mapper>
