<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="subscribeMapper">
	<resultMap id="subProductResultSet" type="subProduct">
		<result column="SUBPRODUCT_NO" property="subProductNo" />
		<result column="SUBPRODUCT_NAME" property="subProductName" />
		<result column="SUB_PRICE" property="subPrice" />
		<result column="SUBPRODUCT_DESCRIPTION" property="subProductDescription" />
		<result column="SUBORIGIN_NAME" property="subOriginName" />
		<result column="SUBCHANGE_NAME" property="subChangeName" />
	</resultMap>
	
	<resultMap id="subscribeResultSet" type="subscribe">
		<result column="SUBSCRIBE_NO" property="subscribeNo" />
		<result column="SUBPRODUCT_NO" property="subProductNo" />
		<result column="USER_NO" property="userNo" />
		<result column="SUB_LEVEL" property="subLevel" />
		<result column="SUB_RECEIVER_USER" property="subReceiverUser" />
		<result column="SUB_RECEIVER_PHONE" property="subReceiverPhone" />
		<result column="DELIVER_AT" property="deliverAt" />
		<result column="DELIVER_TO" property="deliverTo" />
		<result column="DELIVER_STATUS" property="deliverStatus" />
		<result column="RECEIPT_ID" property="receiptId" />
		<result column="SUB_DATE" property="subDate" />
	</resultMap>

	<select id="selectList" resultMap="subProductResultSet">
  		SELECT SUBPRODUCT_NO, SUBPRODUCT_NAME, SUB_PRICE, SUBPRODUCT_DESCRIPTION, SUBORIGIN_NAME, SUBCHANGE_NAME 
		FROM SUB_PRODUCT
  	</select>
  	
  	<insert id="insertSubProduct" parameterType="subProduct">
  		INSERT INTO SUB_PRODUCT(SUBPRODUCT_NO
		                , SUBPRODUCT_NAME
		                , SUB_PRICE
		                , SUBPRODUCT_DESCRIPTION
		                , SUBORIGIN_NAME
		                , SUBCHANGE_NAME)
		VALUES(SEQ_SPNO.NEXTVAL
		     , #{subProductName}
		     , #{subPrice}
		     , #{subProductDescription}
		     , #{subOriginName}
		     , #{subChangeName})
  	</insert>
  	
  	<select id="selectSubProduct" resultMap="subProductResultSet">
  		SELECT *
  		FROM SUB_PRODUCT
  		WHERE SUBPRODUCT_NO = #{ subProductNo }
  	</select>
  	
  	<delete id="deleteSubProduct" parameterType="int">
  		DELETE
  		FROM SUB_PRODUCT
  		WHERE SUBPRODUCT_NO = #{ subProductNo }
  	</delete>
  	
  	<update id="updateSubProduct" parameterType="subProduct">
  		UPDATE SUB_PRODUCT
  		   SET SUBPRODUCT_NAME = #{ subProductName },
  		   	   SUBPRODUCT_DESCRIPTION = #{ subProductDescription },
  		   	   SUB_PRICE = #{ subPrice }
  		 WHERE SUBPRODUCT_NO = #{ subProductNo }
  	</update>
  	
  	<insert id="insertSubscribe" parameterType="subscribe">
  		INSERT INTO SUBSCRIBE(SUBSCRIBE_NO
		                , SUBPRODUCT_NO
		                , USER_NO
		                , SUB_LEVEL
		                , SUB_RECEIVER_USER
		                , SUB_RECEIVER_PHONE
		                , DELIVER_AT
		                , DELIVER_TO
		                , DELIVER_STATUS
		                , RECEIPT_ID)
		VALUES(SEQ_SNO.NEXTVAL
		     , #{subProductNo}
		     , #{userNo}
		     , #{subLevel}
		     , #{subReceiverUser}
		     , #{subReceiverPhone}
		     , #{deliverAt}
		     , #{deliverTo}
		     , #{deliverStatus}
		     , #{receiptId})
  	</insert>
</mapper>
