/* 1. 사용자 정기구독 페이지 (subscribeListView)*/	
/*-------------------------------------------------------------------------------------------*/
    /* wrap div css */
    .wrap {
        width : 1200px;
        margin : auto;
    }
    
    .banner {
		margin-top : 30px;
    	background-image : url('../images/subBanner2.jpg');
		background-repeat : no-repeat;
		background-size : cover;
        width : 100%;
        height : 400px;
        text-align : center;
    }
    
    /* 사진 안 정기구독 세로로 가운데 정렬 css */
    .banner_title {
        line-height : 370px;
        font-size : 50px;
        font-weight : 700;
        color : white;

    }
    
    /* 배경 회색 용 css */
    .subscription {
    	margin-top : 50px;
    	background-color : white;

    }

    /* 이용안내, 구독 가능 상품 목록, 구독기간 설정 css */
     .sub_period, .sub_product {
        margin-top : 50px;
    }

    /* 이용안내, 구독 가능 상품 목록, 구독기간 설정, 구독한 상품 테이블 css */
    /* .info>table, .sub_list>table, .sub_product>table {  */
    .subscription table {
        margin : auto;
        background-color : white;
    }
    
    /* h3 태그 안쪽으로 30px css */
    .wrap h2 {
        margin-bottom : 30px;
    }

    /* info 이미지 4개 속성 css*/
    #info_img {
        width : 100px;
        height : 100px;
        object-fit: cover;
        -webkit-user-drag: none;

    }
    
    .info {
    	margin-top : 80px;
    	margin-bottom : 150px;
    }
    
    
    .info_table {
    	margin-top : 10px;
    	text-align : center;
    	font-size : 20px;
    }
    

    /* 정기구독 리스트 추가될 때 양 옆 마진용 css */
    .sub_list tr {
    	text-align : center;
    	font-size : 20px;
        margin : 30px;
    }
    
    
    #sub_list_img:hover {
        border : solid 1px rgb(255, 35, 147);
        cursor : pointer;
    }

	.spno {
		visibility : hidden;
	}
    /* sub_list 테이블 transpose 용 css */
    .sub_list tr { display: block; float: left; } 
    .sub_list th, .sub_list td { display: block; }

	#subproduct_name {
		font-size : 20px;
		font-weight : 700;
	}
	
	#subproduct_description {
		font-size : 15px;
	}

    /* 구독상품 사진 css*/
    #sub_list_img {
        border : solid 1px rgb(243, 243, 243);
    	background-color : white;
        border-radius : 50%;
        margin : auto;
        text-align : center;
        -webkit-user-drag: none;

    }

    /* 구독 기간 선택하는 div css */
    .sub_period_table {
        font-size : 20px;
        font-weight : bold
    }

    /* 구독 기간 선택하는 테이블 틀 css */
    .sub_period_table {
        width : 80%;
        margin : auto;
    }

    /* sub_period 안 input용 css */
    .sub_period_table input {
        margin-top : 5px;
        width : 97.5%;
        height : 45%;
        font-size : 20px;
    }

    /* sub_period 안 버튼용 css */
    .sub_period_table button {
        margin-left : 2.5%;
        width : 95%;
        height : 95%;
        font-size : 20px;
        background-color : white;
        border : 1px solid lightgrey;
    }
    
    .wrap button:hover {
    	cursor : pointer;
    }

	.sub_product_table {
		text-align : center; 
		font-size : 20px;
		padding-bottom : 100px;
	}

    /* 구독한 상품안에 버튼 css */
    .sub_product_table button {
        margin-left : 2.5%;
        width : 95%;
        height : 95%;
        font-size : 20px;
        color : white;
        background-color : black;
        margin-top : 40px;
        border-radius : 3px;
    }
	

    /* product 이미지 속성 css*/
    #list_img {
      margin-top : 10px;
      width : 230px;
      height : 230px;
      object-fit: cover;
      -webkit-user-drag: none;
    }
    
    #list_img:hover {
        width : 250px;
        height : 250px;
        cursor : pointer;
    }
    
    #period_img {
    	width : 300px;
    	height : 300px;
    	object-fit : cover;
    	margin-left : 30px;
    	-webkit-user-drag: none;
    }
    
    #product_img {
      margin-top : 25px;
      margin-left : 25px;
      margin-bottom : 50px;
      width : 450px;
      height : 450px;
      object-fit: cover;
      -webkit-user-drag: none;
    }

	
	/*datepicker ui */
	 .ui-widget-header { border: 0px solid #dddddd; background: #fff; } 
	
	 .ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 
	
	 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 
	
	 .ui-state-default,
	 .ui-widget-content .ui-state-default,
	 .ui-widget-header .ui-state-default,
	 .ui-button,
	 html .ui-button.ui-state-disabled:hover,
	 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 
	
	 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 
	
	 .ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 
	
	 .ui-widget.ui-widget-content { border: 1px solid #eee; } 
	
	.ui-datepicker-prev ui-corner-all { font-family : auto; }
	
	 #datepicker:focus>.ui-datepicker { display: block; } 
	
	 .ui-datepicker-prev,
	 .ui-datepicker-next { cursor: pointer; } 
	
	 .ui-datepicker-next { float: right; } 
	
	 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 
	
	 .ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 
	
	 .ui-datepicker-calendar { width: 100%; } 
	
	 .ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 
	
	 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}
	
	 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 
	
	 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 
	
	 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 
	
	 .ui-state-hover,
	 .ui-widget-content .ui-state-hover,
	 .ui-widget-header .ui-state-hover,
	 .ui-state-focus,
	 .ui-widget-content .ui-state-focus,
	 .ui-widget-header .ui-state-focus,
	 .ui-button:hover,
	 .ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 
	
	 .ui-widget-header .ui-icon { background-image: url('./btns.png'); } 
	
	 .ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 
	
	 .ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 
	
	 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 
	
	 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 
	
	 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 
	
	 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 
	
	 .ui-state-highlight,
	 .ui-widget-content .ui-state-highlight,
	 .ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 
	
	 .inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 
	
	 .inp:focus { outline: none; background-color: #eee; } 

    /* 관리자 페이지 css */
    /*-------------------------------------------------------------------------------------------*/
	/* admin 관리자 페이지 */

	/* admin 관리자 페이지 메뉴 wrap */
	#admin-menu-wrap {
	    margin: auto;
	    margin-top: 20px;
	    width: 1200px;
	    height: 117px;
	    position: relative;
	}
	
	/* admin 관리자 페이지 메뉴바 첫번째줄 */
	#admin-menu-1 {
	    width: 1200px;
	    height: 35px;
	}
	
	/* admin 관리자 페이지 로고 div */
	#admin-logo-div {
	    position: absolute;
	    width: 200px;
	    height: 34.84px;
	}
	
	/* admin 관리자 페이지 로고 a 태그 */
	#admin-logo-a {
	    width: 0;
	    height: 0;
	    margin: 0px;
	    padding: 0px;
	}
	
	/* admin 관리자 페이지 로고 이미지 속성 */
	#admin-logo-div img {
	    width: 200px;
	    height: 34.84px;
	}
	
	/* admin 관리자 페이지 로그인 div */
	#admin-login-div {
	    width: 110px;
	    height: 34.84px;
	    position: absolute;
	    right: 0px;
	    margin-top: 4px;
	}
	
	/* admin 관리자 페이지 로그인 아이콘 속성 */
	#admin-login-a{
	    text-decoration: none;
	}
	
	/* admin 관리자 페이지 로그인 아이콘 속성 */
	.bi-person-fill {
	    width: 27px;
	    height: 27px;
	}
	
	/* admin 관리자 페이지 로그인 텍스트 속성 (admin) */
	#admin-login-text {
	    font-size: 23px;
	    font-weight: 700;
	    color: black;
	}
	
	/* admin 관리자 페이지 메뉴바 두번째줄 */
	#admin-menu-2 {
	    width: 1200px;
	    height: 82px;
	}
	
	/* admin 관리자 페이지 메뉴바 div */
	#admin-navi-div {
	    background-color: rgb(226, 226, 226);
	    width: 1200px;
	    height: 60px;
	    margin-top: 20px;
	    /* margin-left: 15px; */
	}
	
	/* admin 관리자 페이지 소메뉴 a 태그 속성 */
	.admin-navi-ul a {
	    margin-left: 3.5px;
	    text-decoration : none;
	    color : rgb(0, 0, 0);
	    font-size : 15px;
	    font-weight : 500;
	    width : 120px;
	    height : 30px;
	    display : block;
	    line-height : 35px;
	    transform : scale(1); /* 1배 확대하겠다. */
	}
	
	/* admin 관리자 페이지 메뉴바 속성 */
	#admin-navi {
	    list-style-type : none;
	    margin: 0;
	    padding: 0;
	}
	
	/* admin 관리자 페이지 메인메뉴 li 태그 속성 */
	#admin-navi>li {
	    float: left;
	    width: 130px;
	    text-align: center;
	    height: 60px;
	    margin-left: 15px;
	}
	
	/* admin 관리자 페이지 소메뉴 리스트 속성 */
	.admin-navi-ul>li {
	    float: left;
	    width: 130px;
	    text-align: center;
	    height: 40px;
	    background-color: rgb(226, 226, 226);
	    transform: translateY(-3px);
	}
	
	
	/* admin 관리자 페이지 메뉴바 ul > li 속성 */
	.admin-navi-menu {
	    font-size: 18px;
	    float: left;
	    text-align : center;
	    text-decoration: none;
	    color: black;
	    margin-top: 19px;
	    margin-left: 4px;
	    width: 120px;
	    height: 70%;
	}
	
	/* admin 관리자 페이지 소메뉴 ul 태그 속성 */
	#admin-navi>li>ul {
	    list-style-type : none;
	    padding : 0px;
	    display : none; /* 1단계) 일단은 서브메뉴를 숨겨둠 */
	}
	
	/* admin 관리자 페이지 소메뉴 호버 속성 */
	#admin-navi>li>a:hover+ul {
	    display : block; /* 2단계) 메인메뉴에 마우스 올렸을 때 서브메뉴 보이기 */
	}
	
	/* admin 관리자 페이지 소메뉴 호버 속성 */
	#admin-navi>li>ul:hover {
	    display : block; /* 3단계) 마우스가 서브메뉴에 있을 때에도 서브메뉴 보이기가 유지되야 함 */
	}
	
	/* admin 관리자 페이지 메뉴바 ul > li 호버 시 */
	.admin-navi-menu:hover {
	    color: black;
	    font-weight: 700;
	}
	
	/* admin 관리자 페이지 소메뉴 호버 속성 */
	.admin-navi-ul a:hover {
	    color: black;
	    font-weight: 700;
	}
	
	/* admin 관리자 페이지 메뉴바 ul > li (채팅관리) 호버 시 */
	#admin-navi-chat:hover {
	    color: black;
	    font-weight: 700;
	}
	
	/* admin 관리자 페이지 회원관리 속성 */
	#admin-navi-member {
	    -left: 10px;
	}
	
	/* admin 관리자 페이지 채팅관리 속성 */
	#admin-navi-chat {
	    font-size: 18px;
	    float: left;
	    text-align : center;
	    text-decoration: none;
	    color: black;
	    margin-top: 19px;
	}
	
	/* admin 관리자 페이지 회원관리 wrap */
	#admin-member-wrap {
	    margin: auto;
	    margin-top: 50px;
	    width: 1200px;
	    height: 100%;
	}
	
	/* admin 관리자 페이지 회원관리 타이틀 텍스트 속성 */
	#admin-member-title {
	    font-size: 25px;
	    font-weight: 600;
	}
	
	/* admin 관리자 페이지 타이틀 밑 hr 태그 속성 */
	#admin-member-hr {
	    margin-top: 15px;
	    margin-bottom: 20px;
	}

    /* 3. 관리자 상품 추가 화면 */
    /*-------------------------------------------------------------------------------------------*/
    
    /* 썸네일 + 문구 테이블 css */
    .admin_product {
        width : 90%;
    }

    /* 상품용 input 가격용 input css*/
    .admin_subproduct_name, .admin_price {
       font-size : 20px;
        height : 30px;
    }

    /* 상품명 input 용 css*/
   .admin_subproduct_name {
      width : 60%;
   }    

    /* 상품 사진 css */
    #admin_subproduct_img, #admin_preview_img {
        height : 100%;
        object-fit : cover;
        -webkit-user-drag: none;
    }
    
    /* 상품 멘트용 css */
    .admin_subproduct_description {
      resize : none;
      width : 100%;
      height : 250px;
        font-size : 20px;
    }
    
    /* 해당 페이지 버튼용 css */
    #insertSubProduct, #updateSubProduct, #reload, #showHidden, #deleteSubProduct {
      width : 130px;
      height : 50px;
      background-color : black;
      color : white;
      font-weight : 700;
   }
   
   #insertCaption {
   	  margin-top : 250px;
   	  margin-left : 50px;
   }
   
    /* 4. 관리자 멤버 관리 화면 */
    /*-------------------------------------------------------------------------------------------*/
    
   /* */
   #productTable {
	    width: 100%;
	    height: 50px;
	    text-align: center;
	    border-collapse: collapse;
	    border-spacing: 0;
	    align: center;
	}
	
	/* */
	#productTable tr td {
	    width: 50px;
	    height: 40px;
	}
	
	/* */
	#productTable th {
	    background-color: #c5c5c5;
	    width: 50px;
	    height: 40px;
	}
	
	/* */
	#insertBtn {
	    background-color: rgb(94, 94, 94);
	    color: white;
	    border: rgb(94, 94, 94);
	    width: 200px;
	    height: 40px;
	}


	/* 5. 결제창 화면 */
    /*-------------------------------------------------------------------------------------------*/

	/* 사용자 주문 페이지 레이아웃 */    
    /* 전체 배경 색상 */
    #orderMainOuter {
    	width: 100%;
    	height: 1600px;
    	background-color: whitesmoke;
    }
    
    /* 내용 감싸는 전체 레이아웃 */
    #orderMainWrap {
    	width: 1200px;
    	height: 1400px;
    	margin: auto;
    }
    
    /* 왼쪽 섹션 */ 
    .order-left {
        width: 60%;
        height: 100%;
        float: left;
        box-sizing: border-box;
    }

    /* 오른쪽 섹션 */
    .order-right {
        width: 36%;
        float: right;
    }



	/* ----------------------------------------------------------- */
    /* 사용자 주문 페이지 왼쪽 영역 */
    
    /* 주문내역 확인, 주문자 정보, 발신인 이름 펼친 페이지 */

    /* 전체 배경 색입히기 */
    .order-outer { 
    	background-color: whitesmoke;
        width : 100%; 
    }

    /* 하얀 네모박스 영역 */
    .order-whitebox { 
        background-color:white; 
        padding: 35px;
        padding-left: 40px;
        /* margin: 10px; */
        padding-bottom: 40px;
    }
    
    /* 1. 주문내역 확인 2. 주문자 정보 3. 발신인 이름 
       4. 배송지 정보 5. 배송지 추가 6. 결제 수단 7. 카카오페이*/
    .order-check, .order-orderer, .order-sender, 
    .order-address, .order-address-add,  .order-payment, .order-kakaopay {
        display: flex; 
        justify-content: space-between;
    }

    /* 배송지 추가, 카카오페이 버튼 */
    .address-btn, .kakao-btn { 
        padding: 10px; 
        width: 180px; 
        border: none; 
        background-color:whitesmoke; 
        border-radius: 3px; 
    }

    /* 버튼 두개 */
    .order-two-btn { 
        text-align: center;
    }

    /* 이전으로 가기 버튼 호버시 */
    .pre-btn:hover { 
        color: black;
    }
    
    /* 결제하기 버튼 */
    .pay-btn { 
        padding: 10px; 
        width: 100px; 
        border: none; 
        background-color:rgb(67, 69, 69); 
        color:white;
        border-radius: 3px;  
    }



    /* ----------------------------------------------------------- */
    /* 주문내역 확인 - 내용 */
    .order-check-content { 
        padding: 20px;
        display:flex; 
        justify-content: space-between;
    }

    /* 주문내역 확인 - 상품옵션확인 div */                        
    .order-check-list { 
        list-style: none;
        margin-top: 50px;
    }
    
    /* 주문자 정보 - 이름, 연락처 / 발신인 이름 */
    .orderer-name, .orderer-phone, #SenderBox>p { 
        width: 620px;
        padding:10px; 
        background-color:rgba(241, 241, 241, 0.707); 
    }



    /* ----------------------------------------------------------- */
    /* 모달창 */
    #modal.modal-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background: rgba(255, 255, 255, 0.25); */
        background: rgba(0, 0, 0, 0.712);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        /* backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px); */
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    #modal .modal-window {
        /* background: rgba( 69, 139, 197, 0.70 ); */
        background: white;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 550px;
        height: 570px;
        position: relative;
        top: -100px;
        padding : 30px;
    }

    #modal .address-header {
        padding-left: 10px;
        display: inline;
        /* text-shadow: 1px 1px 2px gray; */
        color: black;  
    }

    #modal .address-header h2 {
        display: inline;
    }

    #modal .close-area {
        display: inline;
        float: right;
        padding-right: 10px;
        cursor: pointer;
        /* text-shadow: 1px 1px 2px gray; */
        color: black;
    }

    #modal .address-content {
        margin-top: 20px;
        padding: 0px 10px;
        /* text-shadow: 1px 1px 2px gray; */
        color: black;
    }

    .address-footer button {
        border-radius: 3px;
    }

    .address-table>tr>td {
        width: 50px;
    }
    
    
    
    /* ----------------------------------------------------------- */
    /* 슬라이드 업/다운 요소 버튼 */

    /* 누를 버튼 */
    #CheckBtn, #OrdererBtn, #SenderBtn {
        width: 700px;
        display: flex; 
        justify-content: space-between;
        border: none;
        background-color: none;
        font-size : 16px;
    }

    /* 내용 박스 */
    #CheckBox, #OrdererBox, #SenderBox {
        width: 600px;
        margin-top: 20px;
        display: none;
        /* height: 600px; */
    }
    
    /* 주문 내역 확인 박스 가운데 정렬 */
    #CheckBox { margin: auto; }



    /* ----------------------------------------------------------- */
    /* 사용자 주문 페이지 오른쪽 영역 */
    
    /* 전체 옵션 */
    .order-right-wrap {
    	background-color:white;
    	padding: 5px;
    }
    
    /* 총 주문 금액, 배송비, 등급할인 */
    .order-price, .order-delivery, .order-grade {
        display:flex;
        justify-content: space-between;
        padding: 5px;
        margin: 10px 15px 15px 15px;
    }
    
    /* 총 주문 금액 위에 공간 주기 */
    .order-price>span {
    	margin-top: 20px;
    }

    /* 총 결제 금액 */
    .order-tprice {
        display:flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: bold;
        margin: 25px 15px 1px 15px;
    }

    /* 이용약관 네모박스 */
    .payment-agree { 
        list-style: none; 
        padding: 1px;
        text-align: center;
        font-size: 0.3cm;
    }
    
    /* 결제하기 버튼 */
    .order-btn { 
        width:100%; 
        height:40px; 
        background-color: black; 
        color:white;
    }
    
    /* 누를 슬라이드 헤드 부분 색상 변경 */
    .order-check>button, .order-orderer>button, .order-sender>button {
        background-color: white;
    }
    
    /* 결제수단 클래스에 주소 데이터값 뽑는 용도로 사용 */
    .userAddress {
    	padding: 10px; 
    }

    /* 배송지 추가, 카카오페이 버튼 */
    /* 카카오페이 버튼 삭제 */
    .address-btn, .kakao-btn { 
        padding: 18px; 
        width: 200px; 
        border: none; 
        background-color:whitesmoke; 
        border-radius: 3px; 
    }
    
     /* 이전으로  버튼 */
    .pre-btn { 
        width: 65px;
        height: 30px; 
        border: none;
        background-color: white;
        border-radius: 3px; 
        color: gray;
        float: right;
    }

	/* 이전으로 가기 버튼 호버시 */
    .pre-btn:hover { 
        cursor: pointer;
		font-weight: 600;
		color: black;  
    }
    
    
    /* ----------------------------------------------------------- */
    /* 모달창 상세 스타일 */
    
    /* 이름, 연락처, 주소, 상세주소 */
    .address-content>#subReceiverUser, .address-content>#subReceiverPhone, .address-content>#address1, .address-content>#address2 { 
		border:none; 
		width:450px; 
		height: 50px;
		font-size: 18px; 
	}
	
	/* 주소 p 태그 */
	.address-content>p { font-weight: 600; }
	
	/* 우편번호 */
	.address-content>#zipcode { 
		border: none; 
		width: 350px; 
		height: 50px; 
		display: inline-block; 
		border: none; 
		width: 310px; 
		height: 40px; 
		font-size: 18px;
	}

	/* 저장하기 버튼 */
	.address-footer>button {
		border:none;
		width:465px; 
		height: 50px; 
		font-size: 18px;
	}
   