@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; }

    /*클래스 전체 감싼 틀*/
    #class-container-wrap{
        position: relative;
        width: 1200px;
        margin: auto;
    }

      /*클래스 전체 틀*/
      .class-container {
        width: 1200px;
        margin:auto;
        margin-top: 40px;
        margin-left: 50px;

    }

    /*클래스 상세페이지 이미지*/
    #image2{
        margin-left: 50px;
    }

	/*클래스 날짜 select*/
	#date{
    margin-left: 40px;
    margin-top: 10px;
}

    /*클래스 예약일*/
    #res{
        margin-left: 40px;
    }

    /*클래스 예약버튼*/
    #class-res-btn{
        margin-left: 40px;
        border-radius : 3px;
        background-color: black;
        color: white;
        height: 40px;
        width: 100px;
        font-size: 15px;
        cursor: pointer;
    }

	/*sale 마크*/
	#sale{
    border-radius : 10px;
    background-color: red;
    color: white;
    padding: 1px;
    font-size: 13px;
    margin-left : 2px;
    /* margin-bottom: 10px; */
}

    /*클래스 상품명, 설명*/
    #title1{
        transform: translateX(40px);
    }

    /*가로선*/
    hr{
        margin-left : 0;  
        border-width:1px 0px 0px 0px;
    }








    /* 원데이클래스 주문페이지 스타일 */
    #class-pay-wrap {
        background-color: rgb(239, 239, 239);
        width: 100%;
        margin-top: 30px;
    }

    #pay-full{
    width: 1200px;
    height: 800px;
    margin: auto; /* 중앙 맞춤 */
    }

    #pay-left{
    width: 500px;
    float: left;
    margin-left: 130px;
    margin-top: 90px;	
    }

    /*주문상품정보*/
    .pay-info1{
    background-color: white;
    width: 400px;
    height: 200px;
    }

    /*주문자정보*/
    .pay-info2{
    background-color: white;
    width: 400px;
    height: 200px;
    margin-top: 30px;
    }

    #pay-right{
    width: 400px;
    float: left;
    margin-top: 80px;
    }

    /*결제수단*/
    .pay{
    background-color: white;
    width: 400px;
    height: 380px;

    }

    /*결제하기 버튼*/
    #pay-btn{
    border-radius : 3px;
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    font-size: larger;
    cursor: pointer;       
    }

    /*결제하기 제목*/
    #payTitle{
    margin-left: -300px;
    font-size: 24px;
    }

    /*주문정보 내용*/
    #pay-content1{
    font-size: 16px;
    font-weight: 600;
    margin-left: -250px;
    padding-top: 20px;
    }

    #pay-content2{
    font-size: 16px;
    font-weight: 600;
    margin-left: -270px;
    padding-top: 35px;
    }

    #pay-content3{
    font-size: 16px;
    font-weight: 600;
    margin-left: -260px;
    padding-top: 20px;
    }

    #pay-content1_1, #pay-content1_2, #pay-content1_3 {
    font-size: 14px;
    margin-left: 190px;
    padding-top: 15px;
    text-align: left;
    }

    #pay-content2_1, #pay-content2_2, #pay-content2_3 {
    font-size: 14px;
    margin-left: 30px;
    padding-top: 18px;
    text-align: left;
    }

    #pay-content3_1{
    margin-top: 20px;
    margin-left: -240px;
    font-size: 15px;
    }

    #pay-content3_2{
    margin-top: 240px;
    margin-left: -90px;
    font-size: 16px;
    }

    /*수정버튼*/
    #class-update-btn{
    margin-top: -30px;
    left: 30px;
    margin-left: 450px;
    border-radius : 3px;
    border-width: 0px;
    border-color: rgb(222, 218, 218);
    background-color: rgb(222, 218, 218);
    color: black;
    height: 30px;
    width: 60px;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    }

    /*상품이미지*/
    #pay-image{
    margin-top: 15px;
    margin-left: 30px;
    }







/* 고객센터 스타일 */
    /*카테고리+고객센터 전체 틀 감싸기*/
    #content-wrap {
        position: relative;
        width: 1200px;
        margin: auto;
       margin-bottom: 250px;
    }


   /*공지사항 제목 스타일*/
 .cus-title {     
        width : 800px;
        height: 30px;
        text-align : left;
        line-height : 30px;
        border-radius : 10px;
        cursor : pointer;
        margin-top : 10px;
        
    }

    /*공지전체 틀*/       
    #notice-content{
        width: 850px;
        height: 100%;
        margin: auto;
        margin-left: 350px;
        margin-top: 40px;
    }

    /*공지 내용*/
    .content1 {
        width : 730px;
        height : 180px;
        margin-top : 5px;
        margin-bottom : 50px;
        padding : 10px;
        box-sizing : border-box;
        display : none;
    }

    /*공지작성일*/
    .notice-date{
        position:absolute;
        /* margin-left: 750px; */
        right : 0px;
        margin-top: -35px;
    }
    
     /*contact us 내용전체*/
     #contact{
        margin-left: 350px;
        margin-top: 40px;

     }


    /*FAQ 질문 제목*/
    .q {
        /* background-color : rgb(223, 223, 219); */
        width: 860px;
        height: 35px;
        text-align: left;
        line-height : 30px;
        /* border-radius: 10px; */
        cursor : pointer;
        margin-top: 10px;
        padding-bottom: 7px;
        font-size: 17px;
        font-weight: 600;
        border-bottom: 1px solid lightgray;
    }

    /*FAQ 답변*/
    .a1 {
        /* border : 1px solid lightgray; */
        width : 550px;
        height : 120px;
        /* margin-top : 5px; */
        border-radius : 10px;
        padding : 10px;
        box-sizing : border-box;
        display : none;
        font-size: 15px;
        line-height: 1.4;
    }

    /*FAQ 전체 틀*/
    #faq{
        margin-left: 350px;
        margin-top: 40px;
        height: 300px;
    }









   /*문의게시판 리스트*/
    #list-container{
		height: 300px;
        margin-left: 350px;
        margin-top: 80px;
    }

    #list-table tr {
        line-height:2;
        text-align: center;
    }

    #list-table tbody>tr:hover {
        cursor: pointer;
    }

    /*문의게시판 작성버튼*/
    #btn-write{
        text-decoration: none;
   		margin-left: 730px;
        /* width: 80px; */
        /* height: 30px; */
        padding: 7px 12px;
        background-color: black;
        color: white;
        border-radius: 3px;
        cursor: pointer;
    }

    /* 1대1 문의 내용 및 답변 content 관련스타일 */
    #updatebutton{
    cursor : pointer;
    margin-left: 350px;
    }        

    #answerContent:focus, #answerTitle:focus{
    outline:none;
    }
    
    #qnaContent {
    outline:none;
    }

    #questionBtn{
    margin-left: 583px;
    margin-top: 30px;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
    }

    #answer-container{
    margin-left: 350px;
    margin-top: 40px;
    height: 300px;
    }









/* 클래스 관리자페이지 스타일 */
/*클래스 전체 틀*/
.container {
    width: 1200px;
    margin:auto;
    margin-top: 100px;

}

/*클래스 상세페이지 이미지*/
#admin-image2{
    margin-left: 300px;
}

/*클래스 날짜 select*/
#date{
    margin-left: 40px;
}

/*클래스 예약일*/
#res{
    margin-left: 40px;
}

/*클래스 수정/추가 버튼*/
#admin-class-update-btn{
    margin-left: 40px;
    border-radius : 3px;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    font-size: larger;
    cursor: pointer;
}

/*sale 마크*/
#sale{
    border-radius : 10px;
    background-color: red;
    color: white;

}

/*클래스 상품명, 설명*/
#title1{
    transform: translateX(40px);
}

/*가로선*/
hr{
    margin-left : 0;  
    border-width:1px 0px 0px 0px; 
}


#addClass{

    font-size: 18px;
    font-weight: 800;
}


#addBtn{
    position: absolute;
    margin-left: 220px;
    margin-top: 15px;
    background-color: black;
    border-radius: 3px;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 19px;
}

#addClassForm{
	margin:auto;
}









/* 클래스 관리자페이지 예약조회 스타일 */
/* admin 관리자 페이지 회원관리 wrap */
#admin-order-wrap {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height: 100%;
}

/* admin 관리자 페이지 회원관리 타이틀 텍스트 속성 */
#admin-order-title {
    font-size: 25px;
    font-weight: 600;
}

/* admin 관리자 페이지 타이틀 밑 hr 태그 속성 */
#admin-order-hr {
    margin-top: 15px;
    margin-bottom: 50px;
    border-width:1px 0px 0px 0px; 
}

/* admin 관리자 페이지 전체주문내역 table */
#admin-order-list-table {
    margin: auto; /* 표 중간 */
    text-align: center; /* 글자 가운데 정렬 */
    border-collapse: collapse; /* 테두리 사이의 간격을 없애고 싶다면 */

}

#admin-order-list-table tbody>tr:hover {
    cursor: pointer;
}

/* admin 관리자 페이지 전체주문내역 thead */
#admin-order-list-thead {
    background-color: #444444;
    color : white;
}

/* admin 관리자 페이지 전체주문내역 th */
#admin-order-list-table>thead>tr>th {
    border: 1px solid black;
    padding: 15px;
    font-size: small;
}

/* admin 관리자 페이지 전체주문내역 td */
#admin-order-list-table>tbody>tr>td {
    border: 1px solid rgba(226, 226, 226, 0.982);
    padding: 10px;
    font-size: small;
}

/* admin 관리자 페이지 회원관리 wrap */
#admin-order-wrap {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height: 100%;
}

/* admin 관리자 페이지 전체주문내역 table */
#admin-order-list-table {
    margin: auto; /* 표 중간 */
    text-align: center; /* 글자 가운데 정렬 */
    border-collapse: collapse; /* 테두리 사이의 간격을 없애고 싶다면 */
    margin-top: 50px;
}

/* admin 관리자 페이지 전체주문내역 thead */
#admin-order-list-thead {
    background-color: #444444;
    color : white;
}

/* admin 관리자 페이지 전체주문내역 th */
#admin-order-list-table>thead>tr>th {
    border: 1px solid black;
    padding: 15px;
    font-size: small;
}

/* admin 관리자 페이지 전체주문내역 td */
#admin-order-list-table>tbody>tr>td {
    border: 1px solid rgba(226, 226, 226, 0.982);
    padding: 15px;
    font-size: medium;
}












	
	/* 고객센터 관리자페이지 스타일 */
	/*admin 문의게시판 리스트*/
	#admin-list-container{
	     position:absolute;
	     width: 800px;
	     margin-left: 200px;
	     margin-top: 10px;
	}
	
	#admin-list-table tr {
	     line-height:3;
	     text-align: center;
	}
	
	#admin-list-table tbody>tr:hover {
	    cursor: pointer;
	}

	/* 1대1 문의 내용 및 답변 content 관련스타일 */
	#admin-updatebutton{
	     cursor : pointer;
	     margin-left: 630px;
	    }        
	
	#answerContent:focus, #answerTitle:focus{
	    outline:none;
	    }

	#adminAnswerBtn{
	    margin-left: 667px;
	    margin-top: 10px;
	    border-radius: 3px;
	    width: 60px;
	    height: 30px;
	    background-color: black;
	    border-color: black;
	    color: white;
	    cursor: pointer;
	    }

    #admin-answer-container{
	    position:absolute;
	    margin-left: 300px;
	    margin-top: 40px;
	    width:1200px;
	    }
    
    /*관리자페이지 공지사항*/
    #addNoticeBtn{
	    border-radius : 3px;
	    background-color: black;
	    color: white;
	    font-size: larger;
	    cursor: pointer; 
	    text-decoration: none; 
	    padding: 7px 12px; 
	    margin-left: 876px;
	        position: fixed;
    margin-top: 10px;

	}
    
    
    #adminNoticeBtn{
    margin-left: 945px;
    margin-top: 15px;
    background-color: black;
    border-radius: 3px;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 19px;
}

#noticeContent{
	margin:auto;
}
    

/* 마이페이지 카테고리 - 카테고리 나누기 */
.myPage-body {
    width: 100%;
    height: 97%;
}

.myPage-body .body_l{
    margin-left: 5%;
    width: 20%;
    vertical-align: top;
}
.myPage-body .body_r{
    width: 80%;
    vertical-align : top;
}

/* 마이페이지 카테고리 - 카테고리 나누기 끝 */

#notice-wrap {
	width: 1200px;
    margin:auto;
        
}

#content {
    width: 20%;
    vertical-align: top;
}



/* 내용 들어간 부분 */
.delete{
margin-left: 10%;
width: 90%;
height: 97%;
/* border: 1px solid red; */
}   





/* 마이페이지 카테고리 - 마이페이지 카테고리 */
#leftNavi1{
    list-style-type : none;
    margin : 0px;
    padding : 0px;
   /* height : 100%;*/
    font-size: 16pt;
    margin-top: 40px;
    position: absolute;
    left: 0px;
}


#leftNavi1 li {
    width : 100%;
    height : 11%;
    /* text-align : center; */
    
}


#leftNavi1 li span {
    margin : 0px;
    font-family: "Pretendard";
    font-size: 18px;
}

.category-content {
    width: 100px;
    display: inline-block;
}

.category-arrow {
    padding-left: 80%;
    position: absolute;
}

.left_menu a {
    text-decoration: none;
    color : black;
}

